@import "../abstracts/variables";


@mixin drop-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

@mixin hover-drop-shadow {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
}

@mixin h2-like {
    font-size: $font-size-text;
    font-weight: $font-weight-bold;
    font-family: $font_family_roboto;
}

@mixin h3-like {
    font-family: $font_family_roboto;
    font-size: $font-size-small-header;
    font-weight: $font-weight-bold;
    color: white;
}

@mixin primary-gradient {
    background: linear-gradient(0deg, $primary-color 0%, $secondary-color 100%);
}

@mixin hover-gradient {
    background: linear-gradient(0deg, lighten($primary-color, 5%) 0%, lighten($secondary-color, 5%) 100%);
}