// Colors

$primary-color          : #9456DC;
$secondary-color        : #FF79DA;
$tertiary-color         : #99E2D0;
$quaternary-color       : #008766;
$quinary-color          : #003A68;
$senary-color           : #EAEAEA;

$primary-icon-color     : #353535;
$secondary-icon-color   : #7E7E7E;

$bg-alt                 : #F6F6F6; 


// Fonts

$font_family_shrikhand         : 'Shrikhand', serif;
$font_family_roboto            : 'Roboto', sans-serif;

// Font Sizes
$font-size-desktop-header      : 40px;
$font-size-header              : 24px;
$font-size-seconary-header     : 18px;
$font-size-third-header        : 17px;
$font-size-text                : 16px;
$font-size-small-header        : 14px;

// Font Weights

$font-weight-bolder  : 700;
$font-weight-bold    : 500;
$font-weight-lighter : 400;
$font-weight-light   : 300;


// Sizes 

$desktop-min         : 1025px;
$tablet-max          : 768px;
$mobile-min          : 320px;
$max-width           : 1440px;
$min-width           : 320px;