// Colors

$primary-color          : #9456DC;
$secondary-color        : #FF79DA;
$tertiary-color         : #99E2D0;
$quaternary-color       : #008766;
$quinary-color          : #003A68;
$senary-color           : #EAEAEA;
$septenary-color        : #353535;


// Fonts

$font_family_shrikhand         : 'Shrikhand', serif;
$font_family_roboto            : 'Roboto', sans-serif;

// Font Sizes

$font-size-header              : 24px;
$font-size-seconary-header     : 18px;
$font-size-third-header        : 17px;
$font-size-text                : 16px;

// Font Weights

$font-weight-bolder  : 700;
$font-weight-bold    : 500;
$font-weight-light   : 300;


// Sizes 

$desktop-min         : 1025px;
$tablet-min          : 481px;
$mobile-min          : 320px;
$max-width           : 1440px;
$min-width           : 320px;