.header {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo {
        margin: 14px 89px;
        padding: 0 19px 0 16px;
    }

    &__secondary {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 17px;

        background-color: $senary-color;
        padding: 17px;

        &--text-input {
            background: none;
            border: none;
            width: 35%;
            
            @include h2-like;
        }

        &--location-dot {
            color: $primary-icon-color;
        }
        
    }
}