@import "sass/abstracts/variables";
@import "sass/base/reset";
@import "sass/base/typography";
@import "sass/layout/header";
@import "sass/layout/footer";
@import "sass/pages/homepage";
@import "sass/components/buttons";
@import "sass/components/card";
@import "sass/components/like";



body {
    width: 100%;
    max-width: $max-width;
    min-width: $min-width;

    scroll-behavior: smooth;
}