.card {
    border-radius: 20px;
    background-color: white; 
    
    @include drop-shadow;

    &--isGrey {
        @extend .card;
        background-color: $bg-alt;
    }

    &--isDish {
        @extend .card;
        border-radius: 15px;
        @include drop-shadow-dish
    }
}