@import "../abstracts/variables";
@import "../abstracts/mixins";

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

// Defining Styles

h1, h2, h3, p { font-family: $font_family_roboto;}

h1 {
    font-size: $font-size-header;
    font-weight: $font-weight-bolder;

}

h2 {
    font-size: $font-size-text;
    font-weight: $font-weight-bold;
}

h3 {
    font-size: $font-size-seconary-header;
    font-weight: $font-weight-bolder;
}

p, .menu--subtitle {
   font-size: $font-size-seconary-header;
   font-weight: $font-weight-light;
}

a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}

.menu--title {
    font-family: $font_family_shrikhand;
}

.menu__items--title {
    font-family: $font_family_roboto;
    font-weight: 500;
    font-size: 18px
}

.menu__items--subtitle {
    font-family: $font_family_roboto;
    font-size: 15px;
    font-weight: 300;
}

.menu__items--price {
    font-family: $font_family_roboto;
    font-size: 15px;
    font-weight: 700;

}

.btn {
    font-family: $font_family_roboto;
    font-size: 16px;
    font-weight: 500;
}