@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap");
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

h1, h2, h3, p {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  font-weight: 500;
}

h3 {
  font-size: 14px;
  font-weight: 500;
  color: white;
}

p {
  font-size: 18px;
  font-weight: 300;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__logo {
  margin: 14px 89px;
  padding: 0 19px 0 16px;
}
.header__secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: #EAEAEA;
  padding: 17px;
}
.header__secondary--text-input {
  background: none;
  border: none;
  width: 35%;
  font-size: 16px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.header__secondary--location-dot {
  color: #353535;
}

.infobox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F6F6F6;
}
.infobox__title {
  padding: 39px 58px 9px 42px;
  text-align: center;
}
.infobox__subtitle {
  padding: 0 26px 0 35px;
  text-align: center;
}
.infobox__btn {
  margin: 27px 75px 57px 82px;
  width: 218px;
  height: 50px;
}

.function {
  padding: 48px 20px 68px 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.function__card {
  display: flex;
  flex-direction: row;
  gap: 23px;
  align-items: center;
  padding: 29px 0;
  position: relative;
  left: 12px;
}
.function__card--step {
  position: absolute;
  left: -12px;
  background-color: #9456DC;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.function__card--icon, .function__card--icon--purple {
  padding-left: 33.5px;
  color: #7E7E7E;
}
.function__card--icon--purple {
  color: #9456DC;
}

.btn {
  border-radius: 25px;
  color: white;
  border: none;
  background: linear-gradient(0deg, #9456DC 0%, #FF79DA 100%);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.card {
  border-radius: 20px;
  background-color: #F6F6F6;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

body {
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  overflow: hidden; /* Hide scrollbars */
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
