.infobox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $bg-alt;

    &__title {
        padding: 39px 58px 9px 42px;
        text-align: center;

    }

    &__subtitle {
        padding: 0 26px 0 35px;
        text-align: center;
    }

    &__btn {
        margin: 27px 75px 57px 82px; 
        width: 218px;
        height: 50px;
    }
}

.function {

    padding: 48px 80px 68px 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    &__card {
        display: flex;
        flex-direction: row;
        gap: 23px;
        align-items: center;
        padding: 29px 0;

        position: relative;
        left: 12px;

        &--step {
            position: absolute;
            left: -12px;
            
            background-color: $primary-color;
            width: 24px;
            height: 24px;
            border-radius: 50%;

            display: flex;
            align-items: center;
            justify-content: center;
        }

        &--icon { 


            color: $secondary-icon-color;

            &--purple {
                color: $primary-color;
            }
        }

    }


}

