.hero {
    &__img {
        width: 100%;
        object-fit: cover;
    }
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px 17px;
    position: relative;
    border-radius: 40px 40px 0 0;
    background-color: $bg-alt;
    margin-top: -50px;

    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    &__subtitle {
        padding-bottom: 12px;
        position: relative;
   
        &::after {
            content: '';
            background: $tertiary-color;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 3px;
            width: 9%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px
    }
    
    &__cta {
        padding: 16px 49px;
        width: fit-content;
        margin: auto;
    }

}

.items {
    &__dish {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
        padding: 15px;

        &--isColumn {
            display: flex;
            flex-direction: column;
        }
    }
}

@for $i from 0 through 2 {
    .#{nth(('starter', 'main', 'dessert'), $i + 1)} > li {
      @include appearAnim($i * .4s);
    }
  }